
/*MEMBERS*/
.members{
	background-color: #f5f5f5;
	position: relative;
}
.members .member-info{
	border-top: 1px solid #ccc;
	margin-top: 50px;
	position: relative;
}
.members .member-info .mem-des{
	margin-top: 50px;
	border: 1px solid transparent;
}
.members .member-info .mem-des .name{
	padding: 0 10%;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}
.members .member-info .mem-des .tester{
	text-align: left;
}
.members .member-info .mem-des .description{
	padding: 0 5%;
	font-size: 16px;
}
.members .member-info .mem-img{
	margin-top: 50px;	
	display: flex;
	justify-content: center;
	align-items: center;
}
.members .member-info .mem-img img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	object-fit: cover;
	filter: grayscale(100%);
	transition: 0.5s;
}
@media all and (max-width: 991px){
	.members .member-info .mem-des{
		margin-top: 30px;
	}
	.members .member-info .mem-img{
		margin-top: 30px;	
	}
	.members .member-info .guide-img{
		margin-top: 20px;	
	}
}
.members .member-info .mem-img img:hover{
	cursor: pointer;
	filter: grayscale(0);
}
.members .member-info .guide-img{
	margin-top: 50px;	
	border: 1px solid transparent;
	position: relative;
	width: 100%;
	padding-bottom: calc(100%/3);
}
.members .member-info .guide-img img{
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 80%;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
	filter: grayscale(100%);
	transition: 0.5s;
}
.members .member-info .guide-img img:hover{
	cursor: pointer;
	filter: grayscale(0);
}




/*MEMBERS*/

.reviews{
	background-color: #fff;
}
.reviews .title{
	margin-top: 20px;
}